.downloadBrochureButton {
  @include flex-row-c;

  height: auto !important;
  padding: 1.2rem 5.4rem !important;
  flex-shrink: 0 !important;
  border-radius: $border-radius-default !important;
  background: $primary-color !important;

  &:hover {
    background: $primary-color-hover !important;
  }

  & > span {
    color: $white-color !important;
    text-align: center !important;
    font-size: $desktop-font-body !important;
    font-weight: $medium-font-weight !important;
    line-height: 2.8rem !important;

    @include mobile {
      line-height: 1.68rem !important;
      font-size: $mobile-font-title !important;
    }
  }

  @include mobile {
    padding: 1.2rem 2.4rem !important;
  }


  :global(.ant-btn-icon) {
    @include flex-row-c;
  }
}