$education-team-title-font-color: #616161;
$education-team-subtitle-font-color: #171717;

.container {
  @include flex-col-x-c;

  padding-top: 5.4rem;
  gap: 5.4rem;

  @include mobile {
    padding-top: 2.4rem;
    gap: 2.4rem;
  }
}

.header {
  @include flex-col-c;

  gap: 0.8rem;
  align-self: stretch;

  @include mobile {
    gap: 0.2rem;
  }
}

.title {
  color: $education-team-title-font-color;
  text-align: center;
  font-size: $desktop-font-body;
  font-weight: $bolder-font-weight;
  letter-spacing: 0.26rem;
  text-transform: uppercase;

  @include mobile {
    font-size: $mobile-font-card-body;
    line-height: 1.68rem;
    letter-spacing: 0.156rem;
  }
}

.subtitle {
  color: $education-team-subtitle-font-color;
  text-align: center;
  font-size: $desktop-font-header;
  font-weight: $semi-bold-font-weight;

  @include mobile {
    font-size: $mobile-font-header;
    letter-spacing: 0.01rem;
  }
}

.teamWrapper {
  width: 100%;
}