$search-bar-font-color: #3a3a3a;

.mainContainer {
  @include flex-row;

  align-items: flex-start;
  gap: 2.4rem;

  @include mobile {
    gap: 1.4rem;
  }
}

.searchBarInput {
  & > input::placeholder {
    color: $search-bar-font-color;
    font-size: $h5-size;
    font-weight: $default-font-weight;

    @include mobile {
      font-size: $h6-size;
    }
  }
}
