$apply-btn-bg: #e22d4c;
$resume-application-btn-bg: #005ab3;
$source-sans-pro: "Source Sans Pro";
$white-color: #ffffff;

.applyBtn {
  @include flex-row-c;

  margin: auto ;
  border-radius: 100% !important;
  width: 6.4rem;
  height: 6.4rem !important;
  text-align: center !important;
  font-size: 1.4rem !important;
  font-family: $source-sans-pro !important;
  background: #e22d4c !important;
  color: $white-color;

  &:hover {
    cursor: pointer;
  }

  & > span {
    text-wrap: auto !important;
  }
}

.resumeApplicationBtn {
  @include flex-row-c;

  margin: auto;
  width: 8rem !important;
  height: 6rem !important;
  border-radius: 1.5rem !important;
  font-size: 1.2rem !important;
  text-align: center !important;
  font-family: $source-sans-pro !important;
  background: $resume-application-btn-bg !important;
  color: $white-color;

  &:hover {
    cursor: pointer;
  }

  & > span {
    text-wrap: auto !important;
  }
}