$alumni-card-border-color: #e4e4e4;
$alumni-info-font-color: #3a3a3a;
$alumni-view-profile-button-color: #0052FF;

.mainContainer {
  @include flex-row-x-c;

  gap: 2.4rem;
  align-self: stretch;
  flex-wrap: wrap;
  position: relative;
}


.actionButtonWrapper {
  @include flex-row-y-c;

  gap: 1.6rem;
  box-sizing: border-box;

  & > button {
    border-radius: $border-radius-default;
    border-color: $alumni-card-border-color;
  }

}

.linkedinButton {
  padding: 0.8rem 1.8rem;
  flex: 0;

  &:hover {
    color: $alumni-info-font-color !important;
    border-color: $alumni-info-font-color !important;
  }
}

.viewProfileButton {
  padding: 1rem 2.4rem;
  flex: 1;

  &:hover {
    border-color: $alumni-view-profile-button-color !important;
  }

  span {
    color: $alumni-view-profile-button-color;
  }
}