$degree-container-background-color: #fafafa;

.container {
  margin-top: 8rem;
  min-height: 100vh;
  font-family: 'Plus Jakarta Sans' !important;
  padding: 3.2rem 0;
  background-color: $degree-container-background-color;


  @include mobile {
    margin-top: 8rem;
    padding: 1.6rem 0;
  }
}
