$phone-email-step-box-shadow: rgba(18, 18, 18, 0.16);
$phone-email-step-border-color: #e4e4e4;
$phone-email-step-title-font-color: #083ca0;
$phone-email-step-title-font-size: 2.8rem;
$phone-email-step-subtitle-font-color: #3a3a3a;
$phone-email-step-input-placeholder-font-color: #616161;
$phone-email-step-last-intake-date-font-color: #a42137;

.container {
  border-radius: 1.4rem;
  box-shadow: 0 0.8rem 1.6rem 0 $phone-email-step-box-shadow;
  border: 0.1rem solid $phone-email-step-border-color;
}

.content {
  @include flex-col;
  
  padding: 2rem 2.4rem 2.4rem 2.4rem;
  align-items: flex-start;
  gap: 1.4rem;
  align-self: stretch;
  background: $white-color;

  @include mobile {
    padding: 1.6rem 2rem 2rem 2rem;
  }
}

.formWrapper {
  @include flex-col;

  align-items: flex-start;
  gap: 4.9rem;
  align-self: stretch;
}

.form {
  @include flex-col;

  align-items: flex-start;
  gap: 1.6rem;
  align-self: stretch;

  @include mobile {
    gap: 2.6rem;
  }
}

.titleWrapper {
  @include flex-col;

  align-items: flex-start;
  gap: 0.8rem;
  align-self: stretch;
}

.title {
  color: $phone-email-step-title-font-color;
  font-size: $phone-email-step-title-font-size;
  font-weight: $semi-bold-font-weight;
  line-height: 3.92rem;

  @include mobile {
    font-size: $tablet-font-title-3;
    line-height: 2.8rem;
  }
}

.subtitle {
  color: $phone-email-step-subtitle-font-color;
  font-size: $desktop-font-body-tertiary;
  font-weight: $bold-font-weight;
  line-height: 2.52rem;

  @include mobile {
    font-size: $mobile-font-subtitle;
    line-height: normal;
  }
}

.formContent {
  @include flex-col;

  gap: 0.8rem;
  width: 100%;

  :global(.ant-form-item) {
    margin-bottom: 0 !important;
  }
}

.input {
  height: 4.8rem;
  padding: 0 1.2rem;
  width: 100%;
  border-radius: $border-radius-default !important;
  border-start-start-radius: $border-radius-default !important;
  border-end-start-radius: $border-radius-default !important; 

  &::placeholder {
    color: $phone-email-step-input-placeholder-font-color !important;
    font-size: $desktop-font-card-body !important;
    font-weight: $default-font-weight !important;
  }
}

.select {
  // height: 4.8rem !important;
  padding: 0 1.2rem;
  border-radius: $border-radius-default !important;

  &::placeholder {
    color: $phone-email-step-input-placeholder-font-color !important;
    font-size: $desktop-font-card-body !important;
  }

  :global(.ant-select-selector) {
    height: 4.8rem !important;
  }
}

.phoneInputGroup {
  display: flex !important;
  justify-content: center !important;
  gap: 0.8rem !important;
  flex: 1 0 0 !important;
}

.whatsappCheckbox {
  margin-top: 2.4rem !important;
  align-items: flex-start !important;

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: $phone-email-step-title-font-color !important;
    border-color: $phone-email-step-title-font-color !important;

    &::after {
      border-color: $white-color !important;
    }
  }

  :global(.ant-checkbox) {
    align-self: flex-start !important;
  }

  :global(.ant-checkbox-label) {
    line-height: 1.96rem !important;
  }
}

.whatsappConsentText {
  color: $phone-email-step-input-placeholder-font-color;
  font-size: $desktop-font-card-subtitle;
  font-weight: $medium-font-weight;

  @include mobile {
    font-size: $mobile-font-subtitle;
    font-weight: $default-font-weight;
  }
}

.submitSection {
  @include flex-col-c;

  gap: 1.2rem;
  align-self: stretch;

  @include mobile {
    gap: 0.8rem;
  }
}

.lastIntakeDate {
  @include flex-row-c;

  gap: 0.8rem;
}

.lastIntakeDateText {
  color: $phone-email-step-subtitle-font-color;
  font-size: $desktop-font-card-body;
  font-weight: $default-font-weight;

  & > span {
    color: $phone-email-step-last-intake-date-font-color;
    font-weight: $bold-font-weight;
  }

  @include mobile {
    font-size: $mobile-font-card-body;
  }
}

.submitButton {
  height: auto !important;
  padding: 1.2rem 4rem !important;
  background: $phone-email-step-title-font-color !important;

  & > span {
    color: $white-color;
    font-size: 1.6rem;
    font-weight: $bold-font-weight;
    line-height: 3.2rem;
  }
}