$alum-directory-container-background-color: #fafafa;

.container {
  @include flex-col;

  gap: 2.4rem;
  margin-top: 9%;
  min-height: 100vh;
  padding: 3.2rem 10.4rem;
  background-color: $alum-directory-container-background-color;

  // @include tablet {
  //   padding: 1.6rem 2rem 2.4rem 2rem;
  // }

  @include bp(860px) {
    margin-top: 11%;
  }

  @include bp(770px) {
    margin-top: 14%;
  }

  @include mobile {
    padding: 1.6rem 2rem 2.4rem 2rem;
  }

}