$alum-directory-container-background-color: #fafafa;

.container {
  padding: 3.2rem 10.4rem;
  background-color: $alum-directory-container-background-color;

  @include mobile {
    padding: 1.6rem 2rem 2.4rem 2rem;
  }
}