$key-features-title-font-color: #3a3a3a;

.container {
  @include flex-col-c;

  gap: 4rem;

  @include mobile {
    gap: 1.4rem;
  }
}

.title {
  color: $key-features-title-font-color;
  text-align: center;
  font-size: $desktop-font-title-3;
  font-weight: $semi-bold-font-weight;
  line-height: 3.36rem;
  letter-spacing: 0.312rem;
  text-transform: uppercase;

  @include mobile {
    font-size: $mobile-font-subtitle;
    line-height: 1.96rem;
    letter-spacing: 0.182rem;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 3.2rem;
  align-self: stretch;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.4rem;
  }
}