.container {
  @include flex-col;

  gap: 4rem;

  @include mobile {
    gap: 2.4rem;
  }
}

.content {
  @include flex-row;

  align-items: stretch;
  gap: 2.4rem;
  align-self: stretch;

  @include tablet {
    @include flex-col;

    flex-wrap: wrap;
  }
}

.leftContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  flex: 1 0 0;

  @include mobile {
    gap: 1.6rem;
  }
}

.rightContent {
  & > img {
    height: 100%;

    @include tablet {
      height: auto;
      width: 100%;
    }
  }
}

.downloadBrochure {
  @include flex-row-c;

  @include mobile {
    width: 100%;
  }
}

.downloadBrochureButton {
  width: 40.4rem !important;
  height: 6.6rem !important;

  @include mobile {
    height: auto !important;
    width: 100% !important;
  }
}

.fullWidth {
  grid-column: 1 / -1;
}





