.container {
  @include flex-col;

  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
  padding: 2.4rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 0.8rem;
  width: 100%;

  @include tablet {
    gap: 1.6rem;
    padding: 1.6rem;
  }
}

.content {
  @include flex-col;

  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;

  @include tablet {
    gap: 1rem;
  }
}

.title {
  @include font-montserrat;

  color: #3A3A3A;
  font-size: 2rem;
  font-weight: $bold-font-weight;
  line-height: 140%;
  text-transform: uppercase;

  @include tablet {
    font-size: 1.2rem;
  }
}

.desc {
  color: #171717;
  font-size: 2rem;
  line-height: 140%;

  @include tablet {
    font-size: 1.4rem;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
}

.videoWrapper {
  all: unset;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}