.companyContainer{
    @include flex-col;
    width: 100%;
    gap: 5rem;
    margin-top: 10rem;
}
.companyContainerTitle{
    height: 10rem;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.8rem; 
    color: #171717;

}
.companyContainerTitle2{
    font-weight: 600;
    color:#1A8452;
}
.companyContainerImage{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    place-items: center;
}
.displayCardContainer{
    @include flex-row;
    width: 100%;
    gap: 2.6rem;
}
.highlightTextContainer{
    width: 100%;
    padding:2.5rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #1A8452;
    border-radius: 0.6rem;
    background: #F5FCF8;
    line-height: 140%;
    box-sizing: border-box;
    margin-top: -2.5rem;
}

.highlightTextContainerSpan1{
    font-weight: 600;
    background: linear-gradient(90deg, #14663f 0%, #20a164 88.3%);
    background-clip: text;
    color: transparent;
}

