$banner-heading-font-color: #171717;
$banner-container-border-color: #e4e4e4;
$banner-container-subheading-font-color: #616161;

.container {
  @include flex-row;

  background-color: $white-color;
  border-radius: 0.8rem;
  border: 1px solid $banner-container-border-color;
  position: relative;
  width: 100%;
  height: 23rem;
  overflow: hidden;

  @include tablet {
    height: 20rem;
  }

  @include mobile {
    height: 13rem;
  }
}

.header {
  @include flex-col-y-c;

  gap: 1.2rem;
  padding: 4.2rem 4.5rem;
  z-index: 2;
  max-width: 70rem;

  @include tablet {
    padding: 2.4rem;
    max-width: 40rem;
  }

  @include mobile {
    gap: 0.3rem;
    padding: 1.4rem;
    max-width: 17rem;
  }

}

.heading {
  color: $banner-heading-font-color;
  font-size: $h1-size;
  font-weight: $bold-font-weight;
  line-height: 4.4rem;
  margin: 0;

  @include tablet {
    font-size: $h2-size;
    line-height: normal;
  }

  @include mobile {
    font-size: $h5-size;
    line-height: 1.96rem;
  }

  & > span {
    background: linear-gradient(93deg, #171717 -1.36%, #0052FF 57.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subheading  {
  color: $banner-container-subheading-font-color;
  font-size: $h2-size;
  font-weight: $default-font-weight;
  margin: 0;

  @include tablet {
    font-size: $h4-size;
    line-height: normal;
  }

  @include mobile {
    font-size: 0.8rem;
  }
}

.bannerImage {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: fill;

  @include tablet {
    width: 32rem;
  }

  @include mobile {
    width: 17rem;
  }
}
