$nav-item-font-color: #616161;
$nav-item-selected-font-color: #083Ca0;
$nav-item-new-tag-background-color: linear-gradient(92deg, #0245B9 14.64%, rgba(0, 140, 255, 0.75) 96.7%);

.container {
  @include flex-row;

  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include tablet {
    @include flex-col;

    gap: 3.2rem;
    align-items: flex-start;
  }
}

.containerScrollTabs {
  @include flex-row;

  justify-content: space-between;
  width: auto;

  @include tablet {
    @include flex-col;

    gap: 3.2rem;
    align-items: flex-start;
  }
}

.navItemsContainer {
  @include flex-row;
  
  align-items: center;
  gap: 2rem;

  @include tablet {
    @include flex-col;

    gap: 3.2rem;
    align-items: flex-start;
  }
}

.navItem {
  @include flex-row;

  align-items: center;
  gap: 0.5rem;
}

.navItemText,
.scrollNavItemText{
  color: $nav-item-font-color;
  font-size: $h4-size;
  font-weight: $default-font-weight;
  line-height: 2.24rem;
  letter-spacing: 0.01rem;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: $nav-item-font-color;
  }
}

.scrollNavItemText {
  &:hover {
    color: $nav-item-selected-font-color;
  }
}

.newTag {
  padding: 0.6rem 1rem;
  border-radius: 3.2rem;
  background: $nav-item-new-tag-background-color;
  color: $white-color;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.68rem;
}

.selectedNavItemText {
  pointer-events: none;
  color: $nav-item-selected-font-color;
}
