.navbar {
  background-color: $white-color !important;
  padding: 0 !important;

  :global(.sr-container) {
    max-width: 144rem !important;
  }
}

.container {
  @include flex-row;
  
  padding: 1.4rem 0;
  align-items: center;
  align-self: stretch;
  background: $white-color;
}

.logoImage {
  margin-right: 3.2rem;
}

.rightSection {
  @include flex-row-y-c;

  width: 100%;
}

.rightSectionScrollTabs {
  @include flex-row-y-c;

  width: 100%;
  justify-content: flex-end;
}

.hamburgerWrapper {
  @include flex-row;

  justify-content: flex-end;
  width: 100%;
}

.hamburgerDrawer {
  :global(.ant-drawer-content-wrapper) {
   @include mobile {
     width: 70% !important;
   }
  }
}

.barsMenu {
  svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.hamburgerMenu  {
  @include flex-col;

  justify-content: space-between;
  height: 100%;
}

.preHydration {
  justify-content: space-between;
  
  &::after {
    content: '';
    width: 40px; // Approximate width of hamburger button
    height: 40px;
    visibility: hidden;
  }
}