$announcement-strip-background-color: linear-gradient(270deg, #000 -5.24%, #083CA0 117.27%);
$announcement-strip-highlight-color: #fec601;

.container {
  @include flex-row-c;

  padding: 1rem 0;
  gap: 1rem;
  align-self: stretch;
  background: $announcement-strip-background-color;

  @include mobile {
    padding: 1.5rem 0;
  }
}

.content {
  @include flex-row-y-c;
  @include font-montserrat;

  gap: 1rem;
}

.headingText {
  color: $white-color;
  font-family: $font-family;
  font-size: $h4-size;
  font-style: normal;
  font-weight: $bold-font-weight;
  line-height: 2.24rem;
  letter-spacing: 0.01rem;

  @include mobile {
    font-size: 1.1rem;
    line-height: normal;
    text-align: center;
  }

  & > a{
    color: $announcement-strip-highlight-color;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
