$apply-btn-bg: #e22d4c;
$resume-application-btn-bg: #005ab3;

.applyBtn {
  @include flex-row-c;
  @include font-plus-jakarta-sans;

  margin: auto ;
  border-radius: $border-radius-large !important;
  width: 100% !important;
  text-align: center !important;
  font-size: $h5-size !important;
  font-family: $font-family !important;
  background: $apply-btn-bg !important;
  color: $white-color;

  &:hover {
    cursor: pointer;
  }

  & > span {
    text-wrap: auto !important;
  }
}

.resumeApplicationBtn {
  @include flex-row-c;
  @include font-plus-jakarta-sans;

  margin: auto ;
  border-radius: $border-radius-large !important;
  width: 100% !important;
  text-align: center !important;
  font-size: $h6-size !important;
  font-family: $font-family !important;
  background: $resume-application-btn-bg !important;
  color: $white-color;

  &:hover {
    cursor: pointer;
  }

  & > span {
    text-wrap: auto !important;
  }
}