.sstRecruiters {
  padding: 40px 0;
  width: 100%;

  .title {
    font-size: $desktop-font-title-2;
    font-weight: $bold-font-weight;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
      font-size: $mobile-font-header;
      margin-bottom: 28px;
    }
  }

  .recruitersGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 32px;
    align-items: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
      gap: 19px;
      padding: 0 16px;
    }

    .imageContainer {
      width: 145px;
      height: 70.41px;
      position: relative;
      overflow: hidden;

      @include mobile {
        width: 65.63px;
        height: 31.87px;
      }

      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 145px;
        height: auto;
        object-fit: contain;

        @include mobile {
          width: 65.63px;
          height: auto;
        }
      }
    }
  }

  .otherCompanies {
    margin-top: 40px;
    text-align: center;

    @include mobile {
      margin-top: 16px;
    }

    .pill {
      @include flex-row;
      @include align-c;
      justify-content: center;
      gap: 10px;
      padding: 8px 30px;
      background: #F5F5F5;
      border-radius: 101px;
      border: 2px solid #E4E4E4;
      display: inline-flex;

      @include mobile {
        padding: 8px 20px;
        border-width: 1px;
      }

      .desktopText {
        @include flex-row;
        @include align-c;
        text-align: center;

        @include mobile {
          display: none;
        }

        .count {
          color: #003087;
          @include font-plus-jakarta-sans;
          font-size: 20px;
          font-weight: $semi-bold-font-weight;
          line-height: 34px;
        }

        .text {
          color: $neutral-scale-13;
          @include font-plus-jakarta-sans;
          font-size: 20px;
          font-weight: $bold-font-weight;
          line-height: 34px;
          margin-left: 4px;
        }
      }

      .mobileText {
        display: none;
        @include align-c;
        text-align: center;

        @include mobile {
          @include flex-row;
        }

        .count {
          color: #083CA0;
          @include font-montserrat;
          font-size: 12px;
          font-weight: $semi-bold-font-weight;
          line-height: 34px;

        
        }

        .text {
          color: $neutral-scale-13;
          @include font-montserrat;
          font-size: 12px;
          font-weight: $bold-font-weight;
          line-height: 34px;
          margin-left: 4px;
        }
      }
    }
  }
}
