$key-feature-card-border-color: #e4e4e4;
$key-feature-card-zoom-icon-background-color: #fafafa;
$key-feature-card-zoom-icon-box-shadow-color: rgba(18, 18, 18, 0.16);
$key-feature-card-title-font-color: #171717;
$key-feature-card-title-font-size: 2.8rem;
$key-feature-card-desc-font-color: #3a3a3a;
$key-feature-card-icon-background-color: linear-gradient(180deg, #FFF 0%, #0041ca 100%);

.container {
  @include flex-col;

  padding: 3.2rem;
  gap: 2rem;
  border-radius: $border-radius-large;
  border: 0.1rem solid $key-feature-card-border-color;
  background: $white-color;
  flex: 0 0 33.33%;
  min-width: 0;

  @include mobile {
    padding: 1.6rem;
    gap: 1.4rem;
  }
}

.icon {
  width: 3.6rem;
  height: 3.6rem;
  padding: 1.2rem;
  aspect-ratio: 1/1;
  border-radius: $border-radius-large;
  background: $key-feature-card-icon-background-color;

  @include mobile {
    height: 4rem;
    width: 4rem;
    padding: 0.8rem;
  }
}

.content {
  @include flex-col-c;

  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 2.4rem;
  height: 100%;

}

.info {
  @include flex-col-x-c;

  align-items: flex-start;
  gap: 1.6rem;
  align-self: stretch;

  @include mobile {
    gap: 0.8rem;
  }
}

.title {
  color: $key-feature-card-title-font-color;
  font-size: $key-feature-card-title-font-size;
  font-weight: $semi-bold-font-weight;
  line-height: 3.92rem;

  @include mobile {
    font-size: $mobile-font-title-3;
    line-height: 2.24rem;
  }
}

.desc {
  color: $key-feature-card-desc-font-color;
  font-size: $desktop-font-body;
  font-weight: $default-font-weight;
  line-height: 2.8rem;

  @include mobile {
    font-size: $mobile-font-card-body;
    line-height: 1.68rem;
  }
}

.featureListItem {
  max-height: 32.4rem;
  border-radius: 0.76rem;
  border: 0.09rem solid $key-feature-card-border-color;
  overflow: hidden;
  position: relative;
  min-width: 27rem !important;

  & > img {
    object-fit: cover;
    object-position: top left;
    width: 100%;
    height: 100%;

    @include mobile {
      height: 24rem;
    }
  }
}

.featureListItemImage {
  height: 26.4rem;
  width: 27.1rem;
}

.zoomIcon {
  @include flex-row-y-c;

  position: absolute;
  bottom: 2rem;
  z-index: 2;
  right: 2rem;
  cursor: pointer;
  padding: 2.4rem;
  gap: 1rem;
  border-radius: 9.9rem;
  background: $key-feature-card-zoom-icon-background-color;
  box-shadow: 0 0.8rem 1.6rem 0px $key-feature-card-zoom-icon-box-shadow-color;

  @include mobile {
    padding: 1.778rem;
    right: 1.48rem;
    bottom: 1.48rem;
  }
}

.zoomIconIcon svg {
  height: 3.2rem;
  width: 3.2rem;

  @include mobile {
    height: 2.73rem;
    width: 2.73rem;
  }
}